body, html {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #3a3a3a;
    font-size: 1rem;
}

article {
    position: relative;
    margin: 0 auto;
    width: 75%;
}

article ul {
    margin: 30px 0 0 0;
}

article li {
    list-style: none;
    font-family: 'Patrick Hand', cursive;
    font-size: 1.4rem;
    color: #6D4205;
    padding: 2px 0 0 0;
}


header {
    display: flex;
    flex-direction: row;
    width: auto;
    border-style: dotted;
    border-width: 0 0 20px 0;
    border-color: slategray;
}

#finalfooter {
    text-align: center;
}

#logo {
    display: inline;
    float: left;
}

#headerright {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.socialmedia {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    height: 24px;
    width: 24px;
}

header p, article p {
    font-family: 'Rajdhani', sans-serif;
}

article p {
    margin: 30px 30px 40px 0;
}

.directions {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-indent: 35px;
    color: #aaaaaa;
    font-weight: lighter;
    font-size: 1.05rem;
}

.subtitle {
    display: inline;
    position: relative;
    top: -45px;
    right: 50px;
    left: 0px;
    margin: 0 auto;

}

#print {
    display: inline;
    float: right;
}

#print p {
    display: inline;
}



#chocotitle {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 3rem;
    font-weight: 500;
}

#notepad {
    display: flex;
    justify-content: space-around;
    width: 95%;
    height: 300px;
    background-image: url("images/list-bg.png");
}